@model IEnumerable<JourneysViewModel>

@section Styles {
    <link href="~/css/pages/journey.css" rel="stylesheet" asp-append-version="true" />
}

<div class="centered-div">
    <div class="card-header text-light text-center py-3">
        <!--Back button should redirect user to the Index page of the application.-->
        <a class="arrow-href" href="/"><i class="bi bi-arrow-left"></i></a>
        <strong>@ViewBag.OriginLocation - @ViewBag.DestinationLocation</strong>
        <p class="mb-0">@ViewBag.DepartureDate</p>
    </div>
    <div class="card-body">
        @foreach (var item in Model)
        {
            <div class="card p-2 m-2">
                <div class="row mb-2">
                    <div class="col">
                        <div class="text-center">
                            <div class="time-box">
                                <div>
                                    <div class="label">Kalkış</div>
                                    <div class="time">@item.Departure</div>
                                </div>
                                <div class="arrow">→</div>
                                <div>
                                    <div class="label">Varış</div>
                                    <div class="time">@item.Arrival</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex flex-row-reverse">
                        <button class="btn btn-sm btn-danger float-right">@item.OriginalPrice @item.Currency</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex align-items-center">
                        <span>@item.Origin - @item.Destination</span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
